<form method="POST" action="/new"> 
  <h2>Pirates</h2>
 <label for= "pirate[name]"><br>
  <label for= "pirate[weight]"><br>
  <label for= "pirate[height]"><br>
  
</form>



 <p>Your Name: <input type="text" name="name"></p>